.logo-text {
    /*font-size: 25px;*/
}

.logo-img {
    width: 45px !important;
    padding-bottom: 2px !important;
}

.login {
    color: #fff;
    padding-left: 0px;
}

    .login:hover {
        color: #fff;
        text-decoration: underline;
    }

.create-advertisement {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .login {
        padding-left: 10px;
    }

    .create-advertisement {
        margin-bottom: 0px;
    }
}

.setting-img {
    width: 25px;
    padding-top: 8px;
    padding-left: 5px;
}

.icon-favorite {
    height: 20px !important;
    background: url("/assets/img/favorite_dark_20.png") no-repeat;
    padding-right: 25px;
}

    .icon-favorite:hover {
        height: 20px !important;
        background: url("/assets/img/favorite_20.png") no-repeat;
    }

.header-categories-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.ul-header-categories {
    padding-inline-start: 0px !important;
    flex-direction: row;
    display: flex;
    list-style: none;
}

.link-header-categories {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@media (max-width: 768px) {
    .li-header-categories-group {
        display: none !important;
    }
}
