/* .logo-text {
    font-size: 25px;
}*/

.logo-img {
    width: 45px !important;
    padding-bottom: 2px !important;
}

.login {
    color: #fff;
    padding-left: 0px;
}

    .login:hover {
        color: #fff;
        text-decoration: none;
    }

.login-input {
    width: 304px;
    float: left;
    margin-right: 10px;
}

.field-validation-error {
}

.div-validation-error {
    overflow: hidden;
}

.login-confirm {
    padding-bottom: 35px;
}

.create-advertisement {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .login {
        padding-left: 10px;
    }

    .create-advertisement {
        margin-bottom: 0px;
    }
}

.setting-img {
    width: 25px;
    padding-top: 8px;
    padding-left: 5px;
}

.icon-favorite {
    height: 20px !important;
    background: url("/assets/img/favorite_20.png") no-repeat;
    padding-right: 25px;
}

    .icon-favorite:hover {
        height: 20px !important;
        background: url("/assets/img/favorite_20.png") no-repeat;
    }

.icon-add-advert {
    background: url("/assets/img/add_icon_1_8_1_40.png") no-repeat;
    height: 40px !important;
    width: 40px;
}

    .icon-add-advert:hover {
        height: 40px !important;
        background: url("/assets/img/add_icon_1_8_2_40.png") no-repeat;
    }

.header-categories-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.ul-header-categories {
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.link-header-categories {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@media (max-width: 768px) {
    .li-header-categories-group {
        display: none !important;
    }
}

.more-link {
    color: #3097D1;
}

    .more-link:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #216a94;
    }

.more-popup {
    position: absolute;
    top: auto;
    left: 50%;
    display: none;
    padding: 0 20px;
    -webkit-box-shadow: 0 1px 14px 0 rgba(24,80,120,.5);
    box-shadow: 0 1px 14px 0 rgba(24,80,120,.5);
    -webkit-transform: translate(-50%,-2px);
    transform: translate(-50%,-2px);
    background-color: #fff;
    z-index: 1000;
    margin-top: 38px;
    min-height: 300px;
    width: 100%;
}

.more-popup__arrow {
    display: block;
    position: absolute;
    overflow: hidden;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    top: -10;
    z-index: 999;
}

    .more-popup__arrow::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0,63,106,.5);
        box-shadow: 0 1px 3px rgba(0,63,106,.5);
        top: 1px;
        left: 50%;
        margin-left: -5px;
        -webkit-transform: translate(0,50%) rotate(45deg);
        transform: translate(0,50%) rotate(45deg);
    }

.popup__title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}

    .popup__title a {
        text-decoration: none !important;
        border-bottom: 1px solid transparent;
        color: #0091d9;
        -webkit-transition: border-color .2s;
        transition: border-color .2s;
    }

.popup__wrap {
    display: table-row;
}

    .popup__wrap li {
        list-style-type: none;
    }

.popup__wrapper :first-child {
    padding-left: 0;
}

.popup__column {
    display: table-cell;
    padding: 0 0 0 45px;
    vertical-align: top;
}

    .popup__column:first-child {
        margin-top: 0;
    }

.popup__list:first-child {
    margin-top: 0;
}

.popup__list {
    margin-top: 20px;
    padding: 0;
}

.popup__first-list {
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.popup__wrapper {
    padding: 20px 0;
}

.item-wrap {
    vertical-align: top !important;
    position: relative;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.item-wrap__like {
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(/assets/img/favorite_light_20.png);
    top: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 6px;
    z-index: 1000;
}

    .item-wrap__like:hover {
        cursor: pointer;
        background-image: url(/assets/img/favorite_20.png);
    }

.item-wrap__like-active {
    background-image: url(/assets/img/favorite_dark_20.png);
    height: 20px;
    width: 20px;
}

    .item-wrap__like-active:hover {
        background-image: url(/assets/img/favorite_dark_20.png);
    }

.item-wrap__wrap {
    min-height: 200px;
    width: 200px;
    margin-top: 10px;
}

.item-wrap__name {
    font-weight: 800;
    font-size: 16px;
    padding-right: 10px;
}

.item-wrap__cost {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.item-wrap__description {
    margin-bottom: 20px;
}

    .item-wrap__description p {
        padding: 0;
        margin: 0;
    }



@media (max-width: 693px) {
    .item-wrap {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        border-radius: 3px;
    }

    .item-wrap__wrap {
        margin-left: 15px;
    }
}

@media (max-width: 513px) {
    .item-wrap {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        width: 100%;
        border-radius: 3px;
    }

    .item-wrap__wrap {
        padding-right: 15px;
    }
}

@media (max-width: 483px) {
    .item-wrap__name {
        font-size: 14px;
        margin-top: 15px;
    }

    .item-wrap img {
        /*
        width: 40% !important;
        height: 55% !important;
        */
    }

    .item-wrap__description p {
        font-size: 13px;
    }

    .item-wrap__name {
        font-size: 15px;
    }

    .item-wrap {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        width: 100%;
        border-radius: 3px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .media-body-inline-grid {
        text-align: left;
    }

    .item-wrap__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
        margin-left: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 383px) {
    .item-wrap__wrap {
        min-height: 100px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .item-wrap__name {
        font-size: 14px;
        margin-top: 15px;
    }

    .item-wrap__description p {
        font-size: 12px;
    }

    .item-wrap__like {
        height: 20px;
        width: 20px;
    }
}

.favorite-top {
    height: 20px;
    width: 23px;
    background-image: url(/assets/img/favorite_20.png);
    background-repeat: no-repeat;
}

    .favorite-top:hover {
        background-image: url(/assets/img/favorite_light_20.png);
    }


.list-item-wrap {
    display: flex !important;
    width: 100%;
    border-radius: 3px;
    vertical-align: top !important;
    position: relative;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    box-sizing: border-box;
}

.list-item-wrap-img {
    width: 150px;
    height: 150px;
}

.item-wrap-content {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.item-wrap-name {
    font-weight: 800;
    font-size: 14px;
}

.item-wrap-cost {
    font-weight: 700;
    font-size: 18px;
    /*padding: 10px 0;*/
}

.item-wrap-date {
}

.additem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.additem-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0.6;
    position: relative;
}

    .additem-logo::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        bottom: -10px;
        left: 0;
        background-color: #000;
        opacity: 0.3;
    }

.additem-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

    .additem-category a {
        font-size: 18px;
    }

.additem-left {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-bottom: 20px;
    position: relative;
}

.additem-right {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    margin-bottom: 20px;
    position: relative;
}

    .additem-right a:hover {
        text-decoration: none;
    }

.additem-title {
    font-size: 16px;
    opacity: 0.6;
}

.additem-input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    position: relative;
}

    .additem-input :focus {
        outline: #0091d9;
    }

.additem__input-name {
    margin-bottom: 60px;
}

    .additem__input-name:after {
        position: absolute;
        content: 'Не пишите в названии цену и контактную информацию — для этого есть отдельные поля';
        left: 0;
        bottom: -45px;
        font-size: 14px;
        opacity: 0.5;
        width: 70%;
    }

.additem-input__text {
    height: 150px;
    resize: none;
    position: relative;
}

.additem-input__text {
    position: relative;
    margin-bottom: 60px;
}

    .additem-input__text:after {
        position: absolute;
        content: 'Не указывайте в описании телефон и e-mail — для этого есть отдельные поля';
        left: 0;
        bottom: -45px;
        font-size: 14px;
        opacity: 0.5;
        width: 70%;
    }

.additem__input-price {
    width: 130px;
    position: relative;
}

.additem-map {
    width: 80%;
}

.price__value {
    position: absolute;
    z-index: 2;
    left: 113px;
    top: 4px;
    font-size: 18px;
    font-weight: 300;
}

.price__popup {
    font-size: 14px;
    font-weight: 300;
    color: #0091d9;
    position: relative;
    width: 140px;
}

    .price__popup span {
        font-size: 13px;
        color: black;
    }

    .price__popup:hover {
        font-size: 14px;
        font-weight: 300;
        color: #e83e8c;
        cursor: pointer;
    }

.price__open {
    position: absolute;
    bottom: -210px;
    left: -222px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    background-color: #fff;
    padding: 10px;
    z-index: 10;
    font-size: 13px;
    width: 50%;
    -webkit-box-shadow: 0 1px 14px 0 rgba(24,80,120,.5);
    box-shadow: 0 1px 14px 0 rgba(24,80,120,.5);
    width: 285px;
    display: none;
}

.price_arrow {
    display: none;
    position: absolute;
    overflow: hidden;
    bottom: -10px;
    left: 50px;
    width: 20px;
    height: 10px;
    top: -10;
    z-index: 999;
}

    .price_arrow:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0,63,106,.5);
        box-shadow: 0 1px 3px rgba(0,63,106,.5);
        top: 1px;
        left: 50%;
        margin-left: -5px;
        -webkit-transform: translate(0,50%) rotate(45deg);
        transform: translate(0,50%) rotate(45deg);
    }

.additem__input-photo {
    display: none;
}

.label__file {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

    .label__file :hover {
        cursor: pointer;
    }

.additem__input-video {
    font-size: 13px;
}

.additem__video {
    margin-bottom: 30px;
}

.additem-contact {
    margin-top: 10px;
    margin-bottom: 40px;
}

.additem-map iframe {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#phonenum {
    width: 140px;
}

.additem-phone {
    margin-bottom: 40px;
}

.additem-place {
    margin-bottom: 30px;
}

.checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
}

.additem-checkbox {
    font-size: 16px;
    font-weight: 300;
}

.checkbox-label:hover {
    cursor: pointer;
}

.additem-checkbox:last-child {
    margin-bottom: 80px;
}

.checkbox {
    display: none;
}

.checkbox-label::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
}

.checkbox:checked + .checkbox-label::before {
    border: 6px solid #0091d9;
}

.additem-copyr {
    font-size: 13px;
}

.additem-go {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-preferred-size: 51%;
    flex-basis: 51%;
}

    .additem-go button {
        border: none;
        background-color: #0091d9;
        padding: 7px 16px;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        margin: 3px;
    }

@media (max-width: 1199px) {
    .additem__input-name:after {
        bottom: -45px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .additem-contact {
        flex-basis: 100%;
    }

    .additem-right {
        width: 100%;
    }

    .additem-input {
        width: 100%;
    }

    .additem__input-name:after {
        width: 100%;
    }

    .additem-input__text:after {
        width: 100%;
    }

    .additem__input-price {
        width: 130px;
    }

    .additem-map iframe {
        width: 100%;
    }

    .additem-go {
        flex-basis: 100%;
    }

    .additem-copyr {
        width: 100%;
    }

    .additem-copyr__wrap {
        flex-basis: 50%;
    }
}

@media (max-width: 578px) {
    .additem-category {
        flex-direction: column;
    }

    .additem-input__text:after {
        bottom: -10px;
    }

    .additem-input__text {
        margin-bottom: 30px;
    }

    .additem__video {
        margin-bottom: 20px;
    }

    .additem-contact {
        margin-bottom: 20px;
    }

    .additem-place {
        margin-bottom: 0px;
    }

    .additem-phone {
        margin-bottom: 16px;
    }

    .additem-go {
        justify-content: center;
    }

    .additem-check__wrap {
        height: 160px;
    }

    .additem-copyr {
        display: none;
    }

    .price__open {
        left: 1%;
        transform: translateX(-1%);
    }
}

@media (max-width: 390px) {
    .additem__way a {
        font-size: 16px;
    }
}

@media (max-width: 346px) {
    .additem__way a {
        font-size: 14px;
    }

    .additem__input-name:after {
        bottom: -65px;
    }

    .additem-text__wrap {
        margin-top: 25px;
    }
}

.blue-color {
    color: #216a94 !important;
}

.additem-button {
    border: none;
    background-color: #0091d9;
    padding: 7px 16px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin: 3px;
}

.buy-tokens {
    color: #fff;
    background-color: #3097D1;
    border-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 14px;
}

    .buy-tokens:hover {
        color: #fff;
        background-color: #2881b3;
        border-color: #2579a9;
    }

/* Firefox, Chrome, Opera */
/*.placeholder-right::placeholder{
    text-align: right; 
}*/

/* Internet Explorer 10-11 */
/*.placeholder-right:-ms-input-placeholder{
    text-align: right; 
}*/

/* Advert.aspx */
.advert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.advert-description {
    margin-bottom: 30px;
}

.favorites-header-icon {
    position: absolute;
    right: 0;
    margin-right: 70px;
}

.add-advert-header-icon {
    position: absolute;
    right: 0;
    margin-right: 110px;
    margin-top: -10px;
}
