/* .logo-text {
    font-size: 25px;
}*/

.logo-img {
    width: 45px !important;
    padding-bottom: 2px !important;
}

.login {
    color: #fff;
    padding-left: 0px;
}

    .login:hover {
        color: #fff;
        text-decoration: underline;
    }

.create-advertisement {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .login {
        padding-left: 10px;
    }

    .create-advertisement {
        margin-bottom: 0px;
    }
}

.setting-img {
    width: 25px;
    padding-top: 8px;
    padding-left: 5px;
}

.icon-favorite {
    height: 20px !important;
    background: url("/assets/img/favorite_dark_20.png") no-repeat;
    padding-right: 25px;
}

    .icon-favorite:hover {
        height: 20px !important;
        background: url("/assets/img/favorite_20.png") no-repeat;
    }

.header-categories-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.ul-header-categories {
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.link-header-categories {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@media (max-width: 768px) {
    .li-header-categories-group {
        display: none !important;
    }
}

.more-link {
    color: #3097D1;
}

    .more-link:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #216a94;
    }

.more-popup {
    position: absolute;
    top: auto;
    left: 50%;
    display: none;
    padding: 0 20px;
    -webkit-box-shadow: 0 1px 14px 0 rgba(24,80,120,.5);
    box-shadow: 0 1px 14px 0 rgba(24,80,120,.5);
    -webkit-transform: translate(-50%,-2px);
    transform: translate(-50%,-2px);
    background-color: #fff;
    z-index: 1000;
    margin-top: 38px;
    min-height: 300px;
    width: 100%;
}

.more-popup__arrow {
    display: block;
    position: absolute;
    overflow: hidden;
    bottom: 100%;
    left: 66%;
    width: 20px;
    height: 10px;
    top: -10;
    z-index: 999;
}

    .more-popup__arrow::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0,63,106,.5);
        box-shadow: 0 1px 3px rgba(0,63,106,.5);
        top: 1px;
        left: 50%;
        margin-left: -5px;
        -webkit-transform: translate(0,50%) rotate(45deg);
        transform: translate(0,50%) rotate(45deg);
    }

.popup__title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}

    .popup__title a {
        text-decoration: none !important;
        border-bottom: 1px solid transparent;
        color: #0091d9;
        -webkit-transition: border-color .2s;
        transition: border-color .2s;
    }

.popup__wrap {
    display: table-row;
}

    .popup__wrap li {
        list-style-type: none;
    }

.popup__wrapper :first-child {
    padding-left: 0;
}

.popup__column {
    display: table-cell;
    padding: 0 0 0 45px;
    vertical-align: top;
}

    .popup__column:first-child {
        margin-top: 0;
    }

.popup__list:first-child {
    margin-top: 0;
}

.popup__list {
    margin-top: 20px;
    padding: 0;
}

.popup__first-list {
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.popup__wrapper {
    padding: 20px 0;
}

.item-wrap {
    vertical-align: top !important;
    position: relative;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.item-wrap__like {
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(../img/favorite_20_light.png);
    top: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 6px;
}

    .item-wrap__like:hover {
        cursor: pointer;
    }

.item-wrap__like-active {
    background-image: url(../img/favorite_dark_20.png);
    height: 20px;
    width: 20px;
}

.item-wrap__wrap {
    min-height: 200px;
    width: 200px;
    margin-top: 10px;
}

.item-wrap__name {
    font-weight: 800;
    font-size: 18px;
    padding-right: 10px;
}

.item-wrap__cost {
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}

.item-wrap__description {
    margin-bottom: 20px;
}

    .item-wrap__description p {
        padding: 0;
        margin: 0;
    }

@media (max-width: 1199px) {
    .more-popup__arrow {
        left: 84%;
    }
}

@media (max-width: 992px) {
    .more-popup__arrow {
        left: 50%;
    }
}

@media (max-width: 693px) {
    .item-wrap {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        border-radius: 3px;
    }

    .item-wrap__wrap {
        margin-left: 15px;
    }
}

@media (max-width: 513px) {
    .item-wrap {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        width: 100%;
        border-radius: 3px;
    }

    .item-wrap__wrap {
        padding-right: 15px;
    }
}

@media (max-width: 483px) {
    .item-wrap__name {
        font-size: 14px;
        margin-top: 15px;
    }

    .item-wrap img {
        width: 40% !important;
        height: 55% !important;
    }

    .item-wrap__description p {
        font-size: 13px;
    }

    .item-wrap__name {
        font-size: 16px;
    }

    .item-wrap {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.04);
        width: 100%;
        border-radius: 3px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .media-body-inline-grid {
        text-align: left;
    }

    .item-wrap__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
        margin-left: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 383px) {
    .item-wrap__wrap {
        min-height: 100px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .item-wrap__name {
        font-size: 14px;
        margin-top: 15px;
    }

    .item-wrap__description p {
        font-size: 12px;
    }

    .item-wrap__like {
        height: 20px;
        width: 20px;
    }
}
