/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2018
 */

/* docs overrides */
.highlight {
    background-color: #fff;
    border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
    line-height: 1.4;
}

.modal-header .close {
    padding-top: 1.4rem;
}

strong {
    font-weight: bold;
}


/* navbar */
.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

    .app-navbar .form-control {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .app-navbar .navbar-brand img {
        width: 85px;
    }

    .app-navbar .navbar-collapse {
        max-height: inherit;
    }

        .app-navbar .navbar-collapse:after {
            height: 100vh;
        }

    .app-navbar .form-control {
        border-color: #1C73A5;
    }

    .app-navbar .app-notifications {
        margin-left: 1rem;
        padding-bottom: 4px !important;
        padding-top: 4px !important;
    }

.app-notifications .icon:before {
    font-size: 20px;
}

@media (min-width: 768px) {
    .app-navbar .navbar-collapse:after {
        height: auto;
    }
}

@media (max-width: 768px) {
    .app-search {
        margin-top: -1px;
    }
}


/* misc */
.app-login-form {
    max-width: 322px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 45%;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

    .app-brand:hover {
        text-decoration: none;
    }

    .app-brand img {
        width: 100%;
    }
.booking {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
            box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 12px;
    background-color: #fff;
    padding: 20px;
    max-height: 800px;
    overflow-y: scroll;
}
.booking-title {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    padding-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.booking-wrap {
    
    margin: 0;
    padding: 10px;
}
.booking-wrap-item {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    padding: 10px;
    max-width: 400px;
    margin-top: 20px;
}
.booking-wrap-item div.title {
    font-weight: 700;
    font-size: 16px;
}


.booking-date {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.booking-change-wrap {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}
.booking-change {
    padding: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
}
.booking-change button{
   border: 2px solid #dedee8;
   background-color: #fff;
   border-radius: 6px;
   padding: 5px 25px;
   font-weight: 700;
   cursor: pointer;
}
.booking-change button:hover {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2)
}
.booking-change button:focus{
   outline: none;
   background-color: #71ceeb;
   border: 2px solid #71ceeb;
   color: #fff;
}
.booking-title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.booking-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.booking-button button:hover {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
            box-shadow: 0 0 5px rgba(0,0,0,0.4)
}
.booking-button button:focus {
    outline: none;
}
.booking-button button {
    background-color: #71ceeb;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
            box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    cursor: pointer;


}
@media (max-width: 578px) {
    .booking-title {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
    }
    .booking-title-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .booking-title {
        font-size: 20px;
        text-align: center;
    }
    .booking-button {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 30px;
    }
}
@media (max-width: 440px) {
    button.booking-change-time{
        padding: 5px 15px;
    }
}
@media (max-width: 340px) {
    button.booking-change-time{
        padding: 5px 10px;
    }
 }