<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Chat tests</h1>

    <div id="app">


        <div>
            <button @click="showHideChats()">show/hide chats</button>
            <button @click="showHideMessages">show/hide messages</button>
        </div>

        <div>
            <div>
                <input v-model="message" />
            </div>
            <button @click="sendMessage">send</button>
        </div>

        <h3>{{message1}} </h3>
        


                     <div v-if="showChats">
                         <div>
                             <div v-for="(chat,index) in chats" :key="index">

                                 <button @click="getMessages(chat.Id)">
                                     {{chat.Id}}
                                 </button>

                             </div>
                         </div>
                     </div>

        <div v-if="showMessages">
            <div v-for="(message,index) in messages" :key="index">
                <div>
                    From:{{message.FromUserId}} <br />
                    Message: <br />
                    {{message.Message}}
                    <hr />
                </div>
                

            </div>
        </div>
        
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        let websock;

        var app = new Vue({
            el: '#app',
            data: {
                userId: "A55A7415-80E3-4DFD-93A1-3EA9D8D88329",
                currentChatId: null,
                message1: 'Hello Vue!',
                showChats: true,
                chats: [],
                messages: [],
                message: "",
                showMessages: false,
                ws: null
            },
            created: function () {
                this.getChats();
            },
            methods: {

                addMessage(msg) {
                    let jsonedMsg = JSON.parse(msg);
                    this.messages.unshift(jsonedMsg);
                },

                initWSConnection() {
                    console.log("this.msges");
                    console.log(this.messages);
                    const addMessage = this.addMessage;
                    const addMsg = function (msg) {
                        console.log(this.messages);
                        addMessage(msg);
                    }
                    
                    let socket = new WebSocket("ws://localhost:8080");

                    let chatId = this.currentChatId;
                    let usrId = this.userId;


                    socket.onmessage = function (event) {
                        console.log("Получены данные " + event.data);
                        addMsg(event.data);
                    };

                    socket.onopen = function () {
                        
                        let data = {
                            type: "initUser",
                            dialogId: chatId,
                            userId: usrId
                        }
                        console.log("---------");
                        console.log(data);

                        socket.send(JSON.stringify(data));
                    };

                    socket.onclose = function (event) {
                        if (event.wasClean) {
                            alert('Соединение закрыто чисто');
                        } else {
                            alert('Обрыв соединения'); // например, "убит" процесс сервера
                        }
                        alert('Код: ' + event.code + ' причина: ' + event.reason);
                    };

                    

                    socket.onerror = function (error) {
                        alert("Ошибка " + error.message);
                    };



                    

                    websock = socket;

                    console.log("this.msges");
                    console.log(this.messages);

                },
                showHideChats() {
                    this.showChats = !this.showChats;
                },
                showHideMessages() {
                    this.showMessages = !this.showMessages;
                },
                getChats() {
                    // dont forbid to change url
                    let url = "http://localhost:53225/api/chat/Dialogs/DialogList/" + this.userId;
                    let data = {
                        method: "GET",
                    };
                    fetch(url,data)
                        .then((response) => {
                            console.log(response);
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data);
                            this.chats = data;
                        });

                },
                getMessages(chatId) {
                    let url = "http://localhost:53225/api/chat/Dialogs/Messages/" + chatId;
                    this.currentChatId = chatId;
                    let data = {
                        method: "GET"
                    };
                    fetch(url, data)
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data);
                            this.messages = data;
                        });
                    this.showMessages = true;

                    this.initWSConnection();



                },
                sendMessage() {
                    let bodyData = {
                        DialogInfoId: this.currentChatId,
                        Message: this.message,
                        FromUserId: this.userId,

                    }

                    let url = "http://localhost:53225/api/chat/Dialogs/CreateMessage";

                    let data = {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': '*'
                        },
                        body: JSON.stringify(bodyData)
                    };


                    



                    fetch(url, data)
                        .then((response) => {
                            
                            return response;
                        })
                        .then((data) => {
                            console.log(data);
                        });

                    this.message = "";


                    

                }
            }

        })

    </script>
</body>
</html>