@model Rentoolo.Model.TestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>IT WORKS!</h1>
        <div>
            Name: @Model.Name <br />
            Power: @Model.Power
        </div>
    </div>
</body>
</html>
