<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="rentoolo">
    <meta name="keywords" content="rentoolo">
    <meta name="author" content="rentoolo">
    <link rel="shortcut icon" href="/assets/img/yellow-green.ico">

    <title>Rentoolo - Ваши объявления</title>

    <meta property="og:title" content="Rentoolo - Ваши объявления" />
    <meta property="mrc__share_title" content="Rentoolo - Ваши объявления" />
    <meta property="twitter:title" content="Rentoolo - Ваши объявления" />
    <meta property="vk:image" content="https://www.Rentoolo.ru/assets/img/banner_1.jpg" />
    <meta property="og:image" content="https://www.Rentoolo.ru/assets/img/banner_1.jpg" />
    <meta property="twitter:image" content="https://www.Rentoolo.ru/assets/img/banner_1.jpg" />
    <meta property="image" content="https://www.Rentoolo.ru/assets/img/banner_1.jpg" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/assets/css/toolkit.css?88884122" rel="stylesheet">
    <link href="/assets/css/application.css?822" rel="stylesheet">
    <link href="/assets/css/additional.css?22244422" rel="stylesheet">



    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
    </style>

    <script src="/assets/js/jquery-2.2.4.js"></script>

    <script type="text/javascript" src="/assets/js/format.js?88"></script>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55995166, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55995166" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class="with-top-navbar">
    <form id="Form1" runat="server">

        <div class="growl" id="app-growl"></div>

        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary app-navbar">

            <a class="navbar-brand" href="/">
                <span class="logo-text" style="margin-right: -3px;">Rent</span>
                <img class="logo-img" src="/assets/img/yellow-green.png" alt="brand">
                <span class="logo-text" style="margin-left: -3px;">lo</span>
            </a>

            <div class="d-md-none">
                <a class="nav-link add-advert-header-icon" title="Подать объявление" href="/Account/Category">
                    <div class="icon icon-add-advert"></div>
                </a>
                <a class="nav-link favorites-header-icon" title="Избранное" href="/Favorites.aspx">
                    <div class="icon icon-favorite"></div>
                </a>
                <button class="navbar-toggler navbar-toggler-right "
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Купить/Продать</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Rent">Аренда</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Auctions">Аукционы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tenders.aspx">Тендеры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Магазины</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Работа</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tokens">Токены</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Cabinet">Кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/News">Новости</a>
                    </li>
                    <asp:LoginView ID="LoginView1" runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/Account/Login">Вход и регистрация</a>
                            </li>
                </ul>
                <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="/Favorites">
                            <div class="favorite-top" title="Избранное"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="loginLink" runat="server" class="nav-link login" href="~/Account/Login">Вход и регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Category">
                            <span class="btn btn-sm btn-pill btn-primary">Подать объявление</span>
                        </a>
                    </li>
                </ul>
                </AnonymousTemplate>
                <LoggedInTemplate>
                    <li class="nav-item d-md-none">
                        <asp:LoginStatus ID="LoginStatus3" CssClass="nav-link" runat="server" LogoutAction="Redirect" OnLoggedOut="LoginStatus1_LoggedOut" LogoutText="Выйти" LogoutPageUrl="~/" />
                    </li>
                    </ul>
                    <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 d-none d-md-flex">
                        <% if (Page.User.IsInRole("Administrator"))
                        { %>
                        <li>
                            <a id="A1" runat="server" href="~/Admin/Admin.aspx">
                                <img class="setting-img" src="/assets/img/settings-icon-50.png" title="Управление" />
                            </a>
                        </li>
                        <% } %>

                        <li class="nav-item">
                            <a class="nav-link" title="Избранное" href="/Favorites">
                                <div class="icon icon-favorite"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Category">
                                <span class="btn btn-sm btn-pill btn-primary">Подать объявление</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="app-notifications nav-link" href="/">
                                <span class="icon icon-bell"></span>
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <div class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
                                <img class="rounded-circle" src="/assets/img/avatar-dhg.png">
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav d-none" id="js-popoverContent">
                        <li class="nav-item"><a class="nav-link blue-color" href="/Account/MyAdverts.aspx">My Adverts</a></li>
                        <li class="nav-item"><a id="A2" runat="server" class="nav-link blue-color username" href="~/Account/Cabinet.aspx" title="Личный кабинет">Кабинет</a></li>
                        <li class="nav-item">
                            <asp:LoginStatus CssClass="nav-link blue-color" ID="LoginStatus2" runat="server" LogoutAction="Redirect" OnLoggedOut="LoginStatus1_LoggedOut" LogoutText="Выйти" LogoutPageUrl="~/" />
                        </li>
                    </ul>


                    <ul class="nav navbar-nav d-none">
                        <li>
                            <a id="CabinetLink" runat="server" class="username" href="~/Account/Cabinet.aspx" title="Личный кабинет">
                                Кабинет (<asp:LoginName ID="LoginName1" runat="server" CssClass="username" />
                                )
                            </a>
                        </li>
                        <li>
                            <asp:LoginStatus ID="LoginStatus1" runat="server" LogoutAction="Redirect" OnLoggedOut="LoginStatus1_LoggedOut" LogoutText="Выйти" LogoutPageUrl="~/" />
                        </li>
                    </ul>
                </LoggedInTemplate>
                </asp:LoginView>
            </div>
        </nav>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Users</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body p-0">
                        <div class="modal-body-scroller">
                            <ul class="media-list media-list-users list-group">
                                <li class="list-group-item">
                                    <div class="media w-100">
                                        <img class="media-object d-flex align-self-start mr-3" src="/assets/img/avatar-fat.jpg">
                                        <div class="media-body">
                                            <button class="btn btn-secondary btn-sm float-right">
                                                <span class="glyphicon glyphicon-user"></span>Follow

                                            </button>
                                            <strong>Майк Браун</strong>
                                            <p>@fat - San Francisco</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media w-100">
                                        <img class="media-object d-flex align-self-start mr-3" src="/assets/img/avatar-dhg.png">
                                        <div class="media-body">
                                            <button class="btn btn-secondary btn-sm float-right">
                                                <span class="glyphicon glyphicon-user"></span>Follow

                                            </button>
                                            <strong>Dave Gamache</strong>
                                            <p>@dhg - Palo Alto</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media w-100">
                                        <img class="media-object d-flex align-self-start mr-3" src="/assets/img/avatar-mdo.png">
                                        <div class="media-body">
                                            <button class="btn btn-secondary btn-sm float-right">
                                                <span class="glyphicon glyphicon-user"></span>Follow

                                            </button>
                                            <strong>Виктория Золотова</strong>
                                            <p>@mdo - San Francisco</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container pt-4 pb-5">
            <div class="row">
                <div class="col-lg-9">

                    @*<asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>*@
                    @RenderBody()

                </div>
                <div class="col-lg-3">
                    <div class="card mb-4 d-none d-lg-block">
                        <div class="card-body">
                            <h6 class="mb-3">Вы смотрели: <small>· <a href="/Account/Watched.aspx">Показать все</a></small></h6>
                            <div data-grid="images" data-target-height="150">
                                <img class="media-object" data-width="250" data-height="250" data-action="zoom" src="/assets/img/instagram_2.jpg">
                            </div>
                            <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
                        </div>
                    </div>
                    <div class="card mb-4 d-none d-lg-block">
                        <div class="card-body">
                            <h6 class="mb-3">Ваши объявления: <small>· <a href="/Account/MyAdverts.aspx">Показать все</a></small></h6>
                            <div data-grid="images" data-target-height="150">
                                <img class="media-object" data-width="250" data-height="250" data-action="zoom" src="/assets/img/varianty-planirovki-3-h-komnatnoj-kvartiry-v-hrushchevke-7.jpg">
                            </div>
                            <p><strong>3х комнатная квартира СЗАО Москва</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
                        </div>
                    </div>
                    <div class="card mb-4 d-none d-lg-block">
                        <div class="card-body">
                            <h6 class="mb-3">Избранное: <small>· <a href="/Favorites.aspx">Показать все</a></small></h6>
                            <div data-grid="images" data-target-height="150">
                                <img class="media-object" data-width="250" data-height="250" data-action="zoom" src="/assets/img/kurier-piter.jpg">
                            </div>
                            <p><strong>Курьер. Курьерские услуги. Санкт-Петербург.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
                        </div>
                    </div>

                    <div class="card card-link-list">
                        <div class="card-body">
                            © Rentoolo
                            <a href="https://github.com/mathewsun/rentoolo.ru">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/toolkit.js"></script>
        <script src="/assets/js/application.js"></script>
        <script>
            // execute/clear BS loaders for docs
            $(function () { while (window.BS && window.BS.loader && window.BS.loader.length) { (window.BS.loader.pop())() } })
        </script>
    </form>
</body>
</html>
