USE [Rentoolo]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetUserBalance]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetUserBalance] (@UserId uniqueidentifier)
RETURNS float
WITH EXECUTE AS CALLER
AS
BEGIN
     DECLARE @Result float;
     SET @Result =
	(SELECT Balance
	FROM [dbo].[Users] 
	WHERE UserId = @UserId);
     RETURN(@Result);
END;



GO
/****** Object:  UserDefinedFunction [dbo].[fnGetUserBalanceByName]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetUserBalanceByName] (@UserName nvarchar(50))
RETURNS float
WITH EXECUTE AS CALLER
AS
BEGIN
     RETURN 0
	-- (SELECT Balance
	--FROM [dbo].[Users] 
	--WHERE UserName = @UserName)
END;



GO
/****** Object:  Table [dbo].[Adverts]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adverts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Category] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_Adverts_CreateDate]  DEFAULT (getdate()),
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL CONSTRAINT [DF_Adverts_Price]  DEFAULT ((0)),
	[Address] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[MessageType] [int] NOT NULL CONSTRAINT [DF_Adverts_MessageType]  DEFAULT ((1)),
	[Position] [geography] NULL,
	[ImgUrls] [nvarchar](max) NULL,
	[YouTubeUrl] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL CONSTRAINT [DF_Adverts_IsApproved]  DEFAULT ((0)),
	[WhenAdminApproved] [datetime] NULL,
	[Subcategory] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Vin] [nvarchar](50) NULL,
	[Brand] [nvarchar](max) NULL,
 CONSTRAINT [PK_Adverts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Applications]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationName] [nvarchar](235) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Articles]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Head] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[WhenDate] [datetime] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuctionRequests]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AuctionId] [int] NOT NULL,
 CONSTRAINT [PK_AuctionRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Auctions]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auctions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StartPrice] [money] NOT NULL,
	[Created] [datetime] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ImgUrls] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DataEnd] [datetime] NULL,
 CONSTRAINT [PK_Auctions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Business]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Header] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Cost] [float] NULL,
	[NoCost] [bit] NOT NULL,
	[PaybackPeriod] [float] NULL,
	[MonthlyIncome] [float] NULL,
 CONSTRAINT [PK_Business] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CashIns]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashIns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Value] [float] NOT NULL,
	[Sposob] [nvarchar](max) NOT NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_CashIns_WhenDate]  DEFAULT (getdate()),
	[AcceptedAccount] [nvarchar](50) NOT NULL CONSTRAINT [DF_CashIns_AcceptedAccount]  DEFAULT ((0)),
	[SendAccount] [nvarchar](50) NULL,
 CONSTRAINT [PK_CashIns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CashOuts]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashOuts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Value] [float] NOT NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_CashOuts_WhenDate]  DEFAULT (getdate()),
	[Sposob] [nvarchar](max) NOT NULL,
	[WhenAdminEvent] [datetime] NULL,
	[State] [int] NOT NULL CONSTRAINT [DF_CashOuts_Status]  DEFAULT ((1)),
	[Number] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[Type] [int] NOT NULL CONSTRAINT [DF_CashOuts_Type]  DEFAULT ((0)),
	[PaymentNumber] [nvarchar](50) NULL,
	[Result] [int] NOT NULL CONSTRAINT [DF_CashOuts_Result]  DEFAULT ((1)),
 CONSTRAINT [PK_CashOuts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Name(Ru)] [nvarchar](50) NOT NULL,
	[OrderId] [int] NOT NULL CONSTRAINT [DF_Categories_OrderId]  DEFAULT ((1)),
	[ParentCategoryId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChatActiveUsers]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatActiveUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ChatId] [bigint] NOT NULL,
 CONSTRAINT [PK_ChatActiveUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ChatId] [bigint] NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chats]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[ChatName] [nvarchar](50) NULL,
	[ChatType] [smallint] NOT NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChatUsers]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatId] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChatUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[AdvertId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Likes] [int] NOT NULL CONSTRAINT [DF_Comments_Likes]  DEFAULT ((0)),
	[DisLikes] [int] NOT NULL CONSTRAINT [DF_Comments_DisLikes]  DEFAULT ((0)),
	[Type] [int] NOT NULL CONSTRAINT [DF_Comments_Type]  DEFAULT ((1)),
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[СomplaintType] [int] NOT NULL,
	[ObjectId] [int] NOT NULL,
	[ObjectType] [int] NOT NULL,
	[UserSender] [uniqueidentifier] NOT NULL,
	[UserRecipier] [uniqueidentifier] NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_Complaints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Acronim] [nvarchar](50) NOT NULL,
	[DateAdd] [datetime] NOT NULL CONSTRAINT [DF_Cryptocurrencies2_DateAdd]  DEFAULT (getdate()),
	[IsValid] [bit] NOT NULL CONSTRAINT [DF_Cryptocurrencies2_IsValid]  DEFAULT ((1)),
 CONSTRAINT [PK_Cryptocurrencies2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DailyStatistics]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyStatistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserAdded] [int] NOT NULL,
	[DepositeAdded] [float] NOT NULL,
 CONSTRAINT [PK_DailyStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeletedAdverts]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedAdverts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Category] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[Address] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[MessageType] [int] NOT NULL,
	[Position] [geography] NULL,
	[ImgUrls] [nvarchar](max) NULL,
	[YouTubeUrl] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
	[WhenAdminApproved] [datetime] NULL,
	[Subcategory] [int] NULL,
 CONSTRAINT [PK_Deleted_Adverts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DialogActiveUsers]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DialogActiveUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[DialogId] [int] NOT NULL,
 CONSTRAINT [PK_DialogActiveUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DialogMessages]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DialogMessages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DialogInfoId] [bigint] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[FromUserId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_DialogMessages_Date]  DEFAULT (getdate()),
 CONSTRAINT [PK_DialogMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DialogsInfo]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DialogsInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[User1Id] [uniqueidentifier] NOT NULL,
	[User2Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DialogsInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DisLikes]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisLikes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DisLikes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exceptions]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exceptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_Exceptions_WhenDate]  DEFAULT (getdate()),
	[UserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Exceptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AdvertId] [bigint] NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_Favorites_Created]  DEFAULT (getdate()),
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FavoritesByCookies]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoritesByCookies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserCookiesId] [nvarchar](36) NOT NULL,
	[AdvertId] [bigint] NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_FavoritesByCookies_Created]  DEFAULT (getdate()),
 CONSTRAINT [PK_FavoritesByCookies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemDislikes]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDislikes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ObjectType] [int] NOT NULL,
	[ObjectId] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_ItemDislikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemLikes]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemLikes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ObjectType] [int] NOT NULL,
	[ObjectId] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_ItemLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Cost] [float] NOT NULL,
	[Address] [nvarchar](150) NULL,
	[CoordinateX] [decimal](9, 6) NULL,
	[CoordinateY] [decimal](9, 6) NULL,
	[Coordinate] [geography] NULL,
	[Phone] [nvarchar](20) NULL,
	[CommunicationType] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Likes]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL CONSTRAINT [DF_Likes_CommentId]  DEFAULT ((0)),
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginStat]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginStat](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserId] [uniqueidentifier] NULL,
	[Ip] [varchar](48) NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_LoginStat_WhenDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_LoginStat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoginStatistics]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginStatistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Ip] [nvarchar](max) NULL,
	[WhenLastDate] [datetime] NOT NULL CONSTRAINT [DF_LoginStatistics_WhenLastDate]  DEFAULT (getdate()),
	[Count] [bigint] NOT NULL,
	[Client] [int] NOT NULL CONSTRAINT [DF_LoginStatistics_Client]  DEFAULT ((0)),
	[Version] [nvarchar](10) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_LoginStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowsStart] [datetime] NOT NULL,
	[Comment] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_New_Date]  DEFAULT (getdate()),
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_New_CreateDate]  DEFAULT (getdate()),
	[Active] [bit] NULL,
 CONSTRAINT [PK_New] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsEducation]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsEducation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_NewsEducation_Date]  DEFAULT (getdate()),
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_NewsEducation_CreateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_NewsEducation_Active]  DEFAULT ((1)),
 CONSTRAINT [PK_NewsEducation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsRaspel]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsRaspel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_NewsRaspel_Date]  DEFAULT (getdate()),
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_NewsRaspel_CreateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_NewsRaspel_Activ]  DEFAULT ((1)),
 CONSTRAINT [PK_NewsRaspel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsVark]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsVark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_NewVark_Date]  DEFAULT (getdate()),
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_NewVark_CreateDate]  DEFAULT (getdate()),
	[Active] [bit] NULL,
 CONSTRAINT [PK_NewsVark] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Operations]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Value] [float] NOT NULL CONSTRAINT [DF_Operations_Value]  DEFAULT ((0)),
	[Type] [int] NOT NULL CONSTRAINT [DF_Operations_Type]  DEFAULT ((1)),
	[Comment] [nvarchar](max) NOT NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_Operations_WhenDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserIdSender] [uniqueidentifier] NOT NULL,
	[UserIdRecepient] [uniqueidentifier] NOT NULL,
	[Value] [float] NOT NULL,
	[WhenDate] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phones]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Blocked] [bit] NOT NULL,
	[LastActive] [datetime] NOT NULL,
	[Balance] [float] NOT NULL,
	[WhenHistoryChecked] [datetime] NOT NULL,
	[BalanceUpdatePerMonth] [float] NOT NULL,
	[BalanceUpdatePerMonthUpdateDate] [datetime] NOT NULL,
	[IdentificateStatus] [int] NOT NULL,
	[Commision] [bit] NOT NULL,
 CONSTRAINT [PK_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Discription] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_Recipes_Created]  DEFAULT (getdate()),
	[ImgUrl] [nvarchar](250) NULL,
	[CountLikes] [int] NOT NULL CONSTRAINT [DF_Recipes_CountLikes]  DEFAULT ((0)),
	[TimeMinutesToCook] [int] NOT NULL CONSTRAINT [DF_Recipes_TimeMinutesToCook]  DEFAULT ((0)),
	[UserId] [bigint] NOT NULL CONSTRAINT [DF_Recipes_UserId]  DEFAULT ((1)),
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Referrals]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referrals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReferrerUserId] [uniqueidentifier] NOT NULL,
	[ReferralUserId] [uniqueidentifier] NOT NULL,
	[WhenDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Refferals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Settings]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NOT NULL CONSTRAINT [DF_Settings_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TenderRequest]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenderRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[ProviderName] [nvarchar](50) NOT NULL,
	[Cost] [int] NOT NULL CONSTRAINT [DF_TenderRequest_Cost]  DEFAULT ((0)),
	[CustomerId] [uniqueidentifier] NOT NULL,
	[DateStart] [datetime] NULL CONSTRAINT [DF_TenderRequest_DateStart]  DEFAULT (getdate()),
	[DateCompleted] [datetime] NULL,
	[DateDelivered] [datetime] NULL,
	[DateWin] [datetime] NULL,
	[TenderId] [int] NOT NULL,
 CONSTRAINT [PK_TenderRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tenders]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [ntext] NULL,
	[UserOwnerId] [uniqueidentifier] NOT NULL,
	[Cost] [float] NOT NULL CONSTRAINT [DF_Tenders_Cost]  DEFAULT ((0)),
	[ImgUrls] [nvarchar](max) NULL,
	[Status] [int] NULL CONSTRAINT [DF_Tenders_Status]  DEFAULT ((0)),
	[Created] [datetime] NOT NULL CONSTRAINT [DF_Tenders_Created]  DEFAULT (getdate()),
	[CurrencyId] [int] NOT NULL CONSTRAINT [DF_Tenders_CurrencyId]  DEFAULT ((1)),
	[CategoryId] [int] NOT NULL CONSTRAINT [DF_Tenders_CategoryId]  DEFAULT ((0)),
 CONSTRAINT [PK_Tenders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TokensBuying]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokensBuying](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Count] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CostOneToken] [float] NOT NULL,
	[FullCost] [float] NOT NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_TokensBuying_WhenDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_TokensBuying] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TokensCost]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokensCost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [float] NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_TokenCost_Date]  DEFAULT (getdate()),
 CONSTRAINT [PK_TokenCost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TokensSelling]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokensSelling](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Count] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CostOneToken] [float] NOT NULL,
	[FullCost] [float] NOT NULL,
	[WhenDate] [datetime] NOT NULL CONSTRAINT [DF_TokensSelling_WhenDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_TokensSelling] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[IsAnonymous] [bit] NOT NULL,
	[LastActivityDate] [datetime] NOT NULL,
	[Pwd] [nvarchar](max) NULL,
	[PublicId] [int] NOT NULL CONSTRAINT [DF_Users_PublicId]  DEFAULT ((0)),
	[Communication] [nvarchar](max) NULL,
	[ReffAdd] [float] NOT NULL CONSTRAINT [DF_Users_ReffAdd]  DEFAULT ((0)),
	[LastGeoposition] [nvarchar](51) NULL,
	[Language] [nvarchar](10) NULL,
	[Sex] [int] NULL,
	[Interests] [nvarchar](max) NULL,
	[WorkPlace] [nvarchar](max) NULL,
	[AboutUser] [nvarchar](max) NULL,
	[BirthDay] [datetime] NULL,
	[UniqueUserName] [nvarchar](50) NULL,
	[SelectedCity] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersOpenAuthAccounts]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersOpenAuthAccounts](
	[ApplicationName] [nvarchar](128) NOT NULL,
	[ProviderName] [nvarchar](128) NOT NULL,
	[ProviderUserId] [nvarchar](128) NOT NULL,
	[ProviderUserName] [nvarchar](max) NOT NULL,
	[MembershipUserName] [nvarchar](128) NOT NULL,
	[LastUsedUtc] [datetime] NULL,
 CONSTRAINT [PK_dbo.UsersOpenAuthAccounts] PRIMARY KEY CLUSTERED 
(
	[ApplicationName] ASC,
	[ProviderName] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersOpenAuthData]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersOpenAuthData](
	[ApplicationName] [nvarchar](128) NOT NULL,
	[MembershipUserName] [nvarchar](128) NOT NULL,
	[HasLocalPassword] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UsersOpenAuthData] PRIMARY KEY CLUSTERED 
(
	[ApplicationName] ASC,
	[MembershipUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserViews]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserViews](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_UserViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[Value] [float] NOT NULL CONSTRAINT [DF_Wallets_Value]  DEFAULT ((0)),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_Wallets_CreateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Watched]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watched](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AdvertId] [bigint] NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_Watched_Created]  DEFAULT (getdate()),
 CONSTRAINT [PK_Watched] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WatchedByCookies]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchedByCookies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserCookiesId] [nvarchar](36) NOT NULL,
	[AdvertId] [bigint] NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_WatchedByCookies_Created]  DEFAULT (getdate()),
 CONSTRAINT [PK_WatchedByCookies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllUsers]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetAllUsers] ()
RETURNS table
AS
RETURN 
(
	SELECT 	u.[UserId]
		,u.[UserName]
		,u.[LastActivityDate]
		,u.[Pwd]
		,u.[PublicId]
		,u.[Communication]
		,m.[CreateDate]
		,m.[Email]
	FROM [Users] u
	LEFT JOIN [Memberships] m
	ON u.[UserId] = m.[UserId]
);

GO
/****** Object:  UserDefinedFunction [dbo].[fnGetTablesRows]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetTablesRows] ()
RETURNS table
AS
RETURN 
(
	SELECT
      QUOTENAME(SCHEMA_NAME(sOBJ.schema_id)) + '.' + QUOTENAME(sOBJ.name) AS [TableName]
      , SUM(sPTN.Rows) AS [RowCount]
	FROM 
		  sys.objects AS sOBJ
		  INNER JOIN sys.partitions AS sPTN
				ON sOBJ.object_id = sPTN.object_id
	WHERE
		  sOBJ.type = 'U'
		  AND sOBJ.is_ms_shipped = 0x0
		  AND index_id < 2 -- 0:Heap, 1:Clustered
	GROUP BY 
		  sOBJ.schema_id
		  , sOBJ.name
	--ORDER BY [RowCount] desc
);



GO
/****** Object:  UserDefinedFunction [dbo].[fnGetUserReferralsSecondLevel]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetUserReferralsSecondLevel] (@userId uniqueidentifier)
RETURNS table
AS
RETURN 
(
SELECT r.*, u.PublicId, u.UserName, rup1lvl.ReferrerUserId as refererUp1Lvl
FROM Referrals r
left join Referrals rup1lvl
on rup1lvl.ReferralUserId = r.ReferrerUserId
left join Users u
on u.UserId = r.ReferralUserId
where rup1lvl.ReferrerUserId = @userId
);



GO
/****** Object:  UserDefinedFunction [dbo].[fnGetUserReferralsThirdLevel]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetUserReferralsThirdLevel] (@userId uniqueidentifier)
RETURNS table
AS
RETURN 
(
SELECT r.*, u.PublicId, u.UserName, rup2lvl.ReferrerUserId as refererUp2Lvl
FROM Referrals r
left join Referrals rup1lvl
on rup1lvl.ReferralUserId = r.ReferrerUserId
left join Referrals rup2lvl
on rup2lvl.ReferralUserId = rup1lvl.ReferrerUserId
left join Users u
on u.UserId = r.ReferralUserId
where rup2lvl.ReferrerUserId = @userId
);



GO
/****** Object:  UserDefinedFunction [dbo].[fnGetUserWallets]    Script Date: 10.11.2020 20:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetUserWallets] (@userId uniqueidentifier)
RETURNS table
AS
RETURN 
(
	SELECT 	w.[Id]
		,w.[CurrencyId]
		,w.[Value]
		,c.[Name]
		,c.[Acronim]
	FROM [Wallets] w
	LEFT JOIN [Currencies] c
	ON w.[CurrencyId] = c.[Id]
	WHERE w.[UserId] = @userId
);


GO
SET IDENTITY_INSERT [dbo].[Adverts] ON 

GO
INSERT [dbo].[Adverts] ([Id], [Category], [Name], [Description], [Created], [CreatedUserId], [Price], [Address], [Phone], [MessageType], [Position], [ImgUrls], [YouTubeUrl], [IsApproved], [WhenAdminApproved], [Subcategory], [Color], [Vin], [Brand]) VALUES (27, 50, N'Холодильник Bosh', N'Новенький! Не пользовались.', CAST(N'2019-10-03 00:37:17.040' AS DateTime), N'f95dea8f-3fae-4c54-be1d-572e5dfe9116', 9900, N'Новый Арбат 78', N'+79864552545', 0, NULL, N'["/img/a/j7rMiCXWekmVM6TaCXnspg.jpg"]', N'', 0, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Adverts] ([Id], [Category], [Name], [Description], [Created], [CreatedUserId], [Price], [Address], [Phone], [MessageType], [Position], [ImgUrls], [YouTubeUrl], [IsApproved], [WhenAdminApproved], [Subcategory], [Color], [Vin], [Brand]) VALUES (28, 50, N'телевизор Samsung 55''', N'в хорошем состоянии', CAST(N'2019-10-11 20:33:25.107' AS DateTime), N'314bd290-5fc5-4a93-8131-db644b83aaed', 29000, N'Москва, Арбат 10', N'+7942557872', 0, NULL, N'["/img/a/zvUwKw2GuESIKa8MalcwHw.jpg"]', N'', 0, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Adverts] ([Id], [Category], [Name], [Description], [Created], [CreatedUserId], [Price], [Address], [Phone], [MessageType], [Position], [ImgUrls], [YouTubeUrl], [IsApproved], [WhenAdminApproved], [Subcategory], [Color], [Vin], [Brand]) VALUES (29, 50, N'горные лыжи Atomic Smoke Titanium', N'Откатал 3 сезона. В хорошем состоянии.
В комплекте крепления, палки, чехол.', CAST(N'2019-10-11 20:50:50.260' AS DateTime), N'314bd290-5fc5-4a93-8131-db644b83aaed', 8450, N'Москва, Динамо', N'+7942557878', 0, NULL, N'["/img/a/sMFAAAITL06GeAXpGNqumA.jpg"]', N'', 0, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Adverts] OFF
GO
INSERT [dbo].[Applications] ([ApplicationName], [ApplicationId], [Description]) VALUES (N'/', N'234ee901-21d6-4952-b871-b815b148fe46', NULL)
GO
SET IDENTITY_INSERT [dbo].[CashIns] ON 

GO
INSERT [dbo].[CashIns] ([Id], [UserId], [Value], [Sposob], [WhenDate], [AcceptedAccount], [SendAccount]) VALUES (1, N'709c2b20-4bb0-4369-bd80-b53ed855eb19', 2, N'Qiwi', CAST(N'2019-12-29 00:34:32.000' AS DateTime), N'79686399088', N'+79779393722')
GO
INSERT [dbo].[CashIns] ([Id], [UserId], [Value], [Sposob], [WhenDate], [AcceptedAccount], [SendAccount]) VALUES (2, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 4, N'Qiwi', CAST(N'2019-12-29 00:52:13.000' AS DateTime), N'79686399088', N'+79779393722')
GO
INSERT [dbo].[CashIns] ([Id], [UserId], [Value], [Sposob], [WhenDate], [AcceptedAccount], [SendAccount]) VALUES (9, N'7849bd5d-c3e5-4aed-9248-cd9ad30284ef', 200, N'Qiwi', CAST(N'2020-01-12 01:54:19.000' AS DateTime), N'79686399088', N'')
GO
SET IDENTITY_INSERT [dbo].[CashIns] OFF
GO
SET IDENTITY_INSERT [dbo].[CashOuts] ON 

GO
INSERT [dbo].[CashOuts] ([Id], [UserId], [Value], [WhenDate], [Sposob], [WhenAdminEvent], [State], [Number], [Comment], [Type], [PaymentNumber], [Result]) VALUES (1, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 200, CAST(N'2020-01-07 23:06:09.420' AS DateTime), N'+79686399088', CAST(N'2020-07-26 18:52:36.700' AS DateTime), 3, N'+79686399088', N'', 1, NULL, 0)
GO
INSERT [dbo].[CashOuts] ([Id], [UserId], [Value], [WhenDate], [Sposob], [WhenAdminEvent], [State], [Number], [Comment], [Type], [PaymentNumber], [Result]) VALUES (2, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 10, CAST(N'2020-01-07 23:09:25.890' AS DateTime), N'+79686399088', CAST(N'2020-07-26 18:52:31.990' AS DateTime), 2, N'+79686399088', N'', 1, NULL, 0)
GO
INSERT [dbo].[CashOuts] ([Id], [UserId], [Value], [WhenDate], [Sposob], [WhenAdminEvent], [State], [Number], [Comment], [Type], [PaymentNumber], [Result]) VALUES (3, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 2, CAST(N'2020-01-07 23:12:19.240' AS DateTime), N'+79686399088', CAST(N'2020-07-26 18:52:26.517' AS DateTime), 3, N'+79686399088', N'', 1, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[CashOuts] OFF
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name(Ru)], [OrderId], [ParentCategoryId]) VALUES (10, N'Transport', N'Транспорт', 1, NULL)
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name(Ru)], [OrderId], [ParentCategoryId]) VALUES (101, N'Auto', N'Автомобили', 1, NULL)
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name(Ru)], [OrderId], [ParentCategoryId]) VALUES (102, N'Moto', N'Мотоциклы и мототехника', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ChatActiveUsers] ON 

GO
INSERT [dbo].[ChatActiveUsers] ([Id], [UserId], [ChatId]) VALUES (25, N'a55a7415-80e3-4dfd-92a1-3ea9d8d88329', 9)
GO
INSERT [dbo].[ChatActiveUsers] ([Id], [UserId], [ChatId]) VALUES (33, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', 9)
GO
INSERT [dbo].[ChatActiveUsers] ([Id], [UserId], [ChatId]) VALUES (34, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', 9)
GO
SET IDENTITY_INSERT [dbo].[ChatActiveUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

GO
INSERT [dbo].[ChatMessages] ([Id], [UserId], [Message], [Date], [ChatId]) VALUES (2, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'some mnogo texta 2', CAST(N'2020-10-06 23:33:39.087' AS DateTime), 9)
GO
INSERT [dbo].[ChatMessages] ([Id], [UserId], [Message], [Date], [ChatId]) VALUES (3, N'00000000-0000-0000-0000-000000000000', N'htttx', CAST(N'2020-10-07 18:31:42.527' AS DateTime), 0)
GO
INSERT [dbo].[ChatMessages] ([Id], [UserId], [Message], [Date], [ChatId]) VALUES (4, N'00000000-0000-0000-0000-000000000000', N'qtx', CAST(N'2020-10-07 18:36:20.407' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Chats] ON 

GO
INSERT [dbo].[Chats] ([Id], [OwnerId], [ChatName], [ChatType]) VALUES (1, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', NULL, 0)
GO
INSERT [dbo].[Chats] ([Id], [OwnerId], [ChatName], [ChatType]) VALUES (2, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88325', NULL, 0)
GO
INSERT [dbo].[Chats] ([Id], [OwnerId], [ChatName], [ChatType]) VALUES (3, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88324', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Chats] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatUsers] ON 

GO
INSERT [dbo].[ChatUsers] ([Id], [ChatId], [UserId]) VALUES (3, 5, N'497b82eb-2f1f-410d-a71c-36b45111b74b')
GO
INSERT [dbo].[ChatUsers] ([Id], [ChatId], [UserId]) VALUES (4, 5, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329')
GO
INSERT [dbo].[ChatUsers] ([Id], [ChatId], [UserId]) VALUES (5, 0, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88323')
GO
SET IDENTITY_INSERT [dbo].[ChatUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

GO
INSERT [dbo].[Comments] ([Id], [UserId], [UserName], [AdvertId], [Comment], [Date], [Likes], [DisLikes], [Type]) VALUES (1, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'qqq', 20041, N'some comment to test', CAST(N'2020-09-23 16:19:37.803' AS DateTime), 0, 0, 1)
GO
INSERT [dbo].[Comments] ([Id], [UserId], [UserName], [AdvertId], [Comment], [Date], [Likes], [DisLikes], [Type]) VALUES (2, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'qqq', 20041, N'some another comment', CAST(N'2020-09-23 16:26:12.503' AS DateTime), 0, 0, 1)
GO
INSERT [dbo].[Comments] ([Id], [UserId], [UserName], [AdvertId], [Comment], [Date], [Likes], [DisLikes], [Type]) VALUES (1002, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'qqq', 20035, N'not bad', CAST(N'2020-09-28 20:34:19.487' AS DateTime), 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaints] ON 

GO
INSERT [dbo].[Complaints] ([Id], [Message], [СomplaintType], [ObjectId], [ObjectType], [UserSender], [UserRecipier], [Data]) VALUES (1, N'some message chto ochen ne ponravilos', 1, 20041, 1, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', CAST(N'2020-10-27 23:28:47.867' AS DateTime))
GO
INSERT [dbo].[Complaints] ([Id], [Message], [СomplaintType], [ObjectId], [ObjectType], [UserSender], [UserRecipier], [Data]) VALUES (6, N'some zaloba', 1, 20041, 1, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', CAST(N'2020-10-29 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[Currencies] ON 

GO
INSERT [dbo].[Currencies] ([Id], [Name], [Acronim], [DateAdd], [IsValid]) VALUES (1, N'Russian Ruble', N'RURT', CAST(N'2018-11-18 19:07:12.273' AS DateTime), 1)
GO
INSERT [dbo].[Currencies] ([Id], [Name], [Acronim], [DateAdd], [IsValid]) VALUES (2, N'United States Dollar', N'USDT', CAST(N'2018-12-11 15:01:55.457' AS DateTime), 1)
GO
INSERT [dbo].[Currencies] ([Id], [Name], [Acronim], [DateAdd], [IsValid]) VALUES (3, N'Bitcoin', N'BTC', CAST(N'2018-12-11 15:02:12.333' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Currencies] OFF
GO
SET IDENTITY_INSERT [dbo].[DialogMessages] ON 

GO
INSERT [dbo].[DialogMessages] ([Id], [DialogInfoId], [Message], [FromUserId], [Date]) VALUES (1, 1, N'Tests msg', N'497b82eb-2f1f-410d-a71c-36b45111b74b', CAST(N'2020-10-02 18:08:46.840' AS DateTime))
GO
INSERT [dbo].[DialogMessages] ([Id], [DialogInfoId], [Message], [FromUserId], [Date]) VALUES (2, 1, N'vrdt,ljhf', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', CAST(N'2020-10-02 19:29:48.930' AS DateTime))
GO
INSERT [dbo].[DialogMessages] ([Id], [DialogInfoId], [Message], [FromUserId], [Date]) VALUES (3, 1, N'[;;lj,,jytdktr', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', CAST(N'2020-10-02 19:31:17.260' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DialogMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[DialogsInfo] ON 

GO
INSERT [dbo].[DialogsInfo] ([Id], [User1Id], [User2Id]) VALUES (1, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'497b82eb-2f1f-410d-a71c-36b45111b74b')
GO
SET IDENTITY_INSERT [dbo].[DialogsInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[DisLikes] ON 

GO
INSERT [dbo].[DisLikes] ([id], [CommentId], [UserId]) VALUES (2, 1, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329')
GO
INSERT [dbo].[DisLikes] ([id], [CommentId], [UserId]) VALUES (3, 2, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329')
GO
SET IDENTITY_INSERT [dbo].[DisLikes] OFF
GO
SET IDENTITY_INSERT [dbo].[Exceptions] ON 

GO
INSERT [dbo].[Exceptions] ([Id], [Value], [WhenDate], [UserId]) VALUES (1, N'Строка не найдена или изменена.', CAST(N'2019-07-12 00:51:12.257' AS DateTime), NULL)
GO
INSERT [dbo].[Exceptions] ([Id], [Value], [WhenDate], [UserId]) VALUES (2, N'Ссылка на объект не указывает на экземпляр объекта.', CAST(N'2019-12-29 00:36:53.637' AS DateTime), NULL)
GO
INSERT [dbo].[Exceptions] ([Id], [Value], [WhenDate], [UserId]) VALUES (3, N'Ссылка на объект не указывает на экземпляр объекта.', CAST(N'2019-12-29 00:36:53.927' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Exceptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

GO
INSERT [dbo].[Favorites] ([Id], [UserId], [AdvertId], [Created]) VALUES (8, N'314bd290-5fc5-4a93-8131-db644b83aaed', 30, CAST(N'2019-10-11 20:55:04.870' AS DateTime))
GO
INSERT [dbo].[Favorites] ([Id], [UserId], [AdvertId], [Created]) VALUES (9, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 32, CAST(N'2019-10-26 14:30:57.397' AS DateTime))
GO
INSERT [dbo].[Favorites] ([Id], [UserId], [AdvertId], [Created]) VALUES (10005, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 31, CAST(N'2019-12-16 00:40:59.790' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[FavoritesByCookies] ON 

GO
INSERT [dbo].[FavoritesByCookies] ([Id], [UserCookiesId], [AdvertId], [Created]) VALUES (24, N'1a4e0f0b-71b5-4170-9359-26edba0cda9b', 27, CAST(N'2019-10-03 09:51:10.170' AS DateTime))
GO
INSERT [dbo].[FavoritesByCookies] ([Id], [UserCookiesId], [AdvertId], [Created]) VALUES (25, N'1d732ccc-5598-4b56-aa85-b0417d723154', 27, CAST(N'2019-10-11 17:12:10.660' AS DateTime))
GO
INSERT [dbo].[FavoritesByCookies] ([Id], [UserCookiesId], [AdvertId], [Created]) VALUES (10026, N'1a4e0f0b-71b5-4170-9359-26edba0cda9b', 32, CAST(N'2019-12-09 18:54:01.293' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[FavoritesByCookies] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemLikes] ON 

GO
INSERT [dbo].[ItemLikes] ([Id], [ObjectType], [ObjectId], [UserId], [Date]) VALUES (6, 0, 27, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', CAST(N'2020-11-04 20:30:05.907' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ItemLikes] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

GO
INSERT [dbo].[Likes] ([Id], [CommentId], [UserId]) VALUES (1002, 1002, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329')
GO
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginStat] ON 

GO
INSERT [dbo].[LoginStat] ([Id], [UserName], [UserId], [Ip], [WhenDate]) VALUES (1, NULL, N'709c2b20-4bb0-4369-bd80-b53ed855eb19', N'localhost', CAST(N'2019-11-16 15:48:33.560' AS DateTime))
GO
INSERT [dbo].[LoginStat] ([Id], [UserName], [UserId], [Ip], [WhenDate]) VALUES (2, NULL, N'709c2b20-4bb0-4369-bd80-b53ed855eb19', N'localhost', CAST(N'2019-11-16 15:48:33.577' AS DateTime))
GO
INSERT [dbo].[LoginStat] ([Id], [UserName], [UserId], [Ip], [WhenDate]) VALUES (3, NULL, N'709c2b20-4bb0-4369-bd80-b53ed855eb19', N'localhost', CAST(N'2019-11-16 15:48:33.593' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoginStat] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginStatistics] ON 

GO
INSERT [dbo].[LoginStatistics] ([Id], [UserName], [Ip], [WhenLastDate], [Count], [Client], [Version]) VALUES (14543, N'mmmm', N'192.168.1.1', CAST(N'2019-06-01 19:46:28.847' AS DateTime), 20, 0, N'')
GO
INSERT [dbo].[LoginStatistics] ([Id], [UserName], [Ip], [WhenLastDate], [Count], [Client], [Version]) VALUES (14544, N'mmm', N'::1', CAST(N'2019-09-27 16:35:27.617' AS DateTime), 328, 0, N'')
GO
INSERT [dbo].[LoginStatistics] ([Id], [UserName], [Ip], [WhenLastDate], [Count], [Client], [Version]) VALUES (14545, N'mmmm', N'66.102.9.8', CAST(N'2019-05-22 01:24:03.583' AS DateTime), 0, 0, N'')
GO
SET IDENTITY_INSERT [dbo].[LoginStatistics] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

GO
INSERT [dbo].[News] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (1, N'Запуст проекта! Открытая регистрация пользователей.', CAST(N'2019-05-01 08:30:00.000' AS DateTime), N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', CAST(N'2019-01-01 08:30:00.000' AS DateTime), 1)
GO
INSERT [dbo].[News] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (2, N'Стала доступна возможность пополнять баланс и производить покупку и продажу токенов. Пополнение через сервис Qiwi с возможностью оплаты по пластиковой карте. Так же доступна возможность мгновенного вывода средств.', CAST(N'2019-12-29 01:23:26.000' AS DateTime), N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', CAST(N'2019-12-29 01:23:26.750' AS DateTime), 1)
GO
INSERT [dbo].[News] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (3, N'С сегодняшнего дня стоимость токенов увеличивается постояно по ставке 30% годовых. В сутки стоимость растет на 0.07191%.', CAST(N'2020-01-19 07:49:13.000' AS DateTime), N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', CAST(N'2020-01-19 07:49:13.180' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsEducation] ON 

GO
INSERT [dbo].[NewsEducation] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (1, N'Первая новость', CAST(N'2020-11-10 13:00:07.760' AS DateTime), N'bd4551af-fc28-4b85-b147-20a051676b21', CAST(N'2020-11-10 13:00:07.760' AS DateTime), 1)
GO
INSERT [dbo].[NewsEducation] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (2, N'Вторая новость', CAST(N'2020-11-10 13:16:19.970' AS DateTime), N'bd4551af-fc28-4b85-b147-20a051676b21', CAST(N'2020-11-10 13:16:19.970' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[NewsEducation] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsRaspel] ON 

GO
INSERT [dbo].[NewsRaspel] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (1, N'Новость 1', CAST(N'2020-11-10 18:00:38.063' AS DateTime), N'a08d3f83-1ac9-4b75-bfba-0c5a84e178c4', CAST(N'2020-11-10 18:00:38.063' AS DateTime), 1)
GO
INSERT [dbo].[NewsRaspel] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (2, N'Новость 2', CAST(N'2020-11-10 18:00:55.317' AS DateTime), N'a08d3f83-1ac9-4b75-bfba-0c5a84e178c4', CAST(N'2020-11-10 18:00:55.317' AS DateTime), 1)
GO
INSERT [dbo].[NewsRaspel] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (3, N'Новость 3', CAST(N'2020-11-10 18:01:23.377' AS DateTime), N'a08d3f83-1ac9-4b75-bfba-0c5a84e178c4', CAST(N'2020-11-10 18:01:23.377' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[NewsRaspel] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsVark] ON 

GO
INSERT [dbo].[NewsVark] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (1, N'ЦБ РФ принял решение сохранить ключевую ставку на уровне 4,25% годовых. Инфляция складывается в соответствии с прогнозом и по итогам 2020 года ожидается в интервале 3,9–4,2%, но инфляционные ожидания выросли, ухудшается эпидемиологическая обстановка, и ситуация на внешних рынках остается неустойчивой.', CAST(N'2020-11-08 08:30:00.000' AS DateTime), N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', CAST(N'2020-11-08 20:43:27.313' AS DateTime), 1)
GO
INSERT [dbo].[NewsVark] ([Id], [Text], [Date], [AuthorId], [CreateDate], [Active]) VALUES (7, N'Американские СМИ объявили о победе Байдена на выборах. Он получил 273 голоса выборщиков', CAST(N'2020-11-08 07:49:13.000' AS DateTime), N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', CAST(N'2020-11-08 20:46:11.093' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[NewsVark] OFF
GO
SET IDENTITY_INSERT [dbo].[Operations] ON 

GO
INSERT [dbo].[Operations] ([Id], [UserId], [Value], [Type], [Comment], [WhenDate]) VALUES (3, N'a52f6fd5-0b77-4345-b7e1-ce1ede063d64', 0, 14, N'Учетная запись создана.', CAST(N'2019-05-20 00:31:49.747' AS DateTime))
GO
INSERT [dbo].[Operations] ([Id], [UserId], [Value], [Type], [Comment], [WhenDate]) VALUES (4, N'c11636fe-d0d9-4a60-8647-6f00f6154c29', 0, 14, N'Учетная запись создана.', CAST(N'2019-05-30 02:27:42.690' AS DateTime))
GO
INSERT [dbo].[Operations] ([Id], [UserId], [Value], [Type], [Comment], [WhenDate]) VALUES (5, N'b98b7ebc-4d5e-405b-88d8-087421c50b8e', 0, 14, N'Учетная запись создана.', CAST(N'2019-06-01 19:02:48.493' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Operations] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

GO
INSERT [dbo].[Recipes] ([Id], [Name], [Discription], [Created], [ImgUrl], [CountLikes], [TimeMinutesToCook], [UserId]) VALUES (1, N'Окрошка', N'Готовится из огурцов , вареной картошки, яиц и кваса', CAST(N'2020-08-11 00:38:48.257' AS DateTime), NULL, 74151, 30, 1)
GO
INSERT [dbo].[Recipes] ([Id], [Name], [Discription], [Created], [ImgUrl], [CountLikes], [TimeMinutesToCook], [UserId]) VALUES (2, N'Блины', N'На молоке', CAST(N'2020-08-11 00:39:23.613' AS DateTime), NULL, 5548, 15, 1)
GO
INSERT [dbo].[Recipes] ([Id], [Name], [Discription], [Created], [ImgUrl], [CountLikes], [TimeMinutesToCook], [UserId]) VALUES (3, N'Суп пюре ', N'Овощной суп пюре ', CAST(N'2020-08-11 00:40:07.530' AS DateTime), NULL, 3541, 45, 1)
GO
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'234ee901-21d6-4952-b871-b815b148fe46', N'8b6f8834-7b96-43e1-9dec-16115fd48554', N'KeyManager', NULL)
GO
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'234ee901-21d6-4952-b871-b815b148fe46', N'821ee111-22d6-2251-b87c-b215b542f444', N'AdvertManager', NULL)
GO
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'234ee901-21d6-4952-b871-b815b148fe46', N'211ee111-19d6-4951-b87c-b215b542fe11', N'Administrator', NULL)
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

GO
INSERT [dbo].[Settings] ([Id], [Order], [Name], [Value], [Description], [UpdateDate]) VALUES (2, 1, N'HoursDifference', N'0', N'Разница во времени с сервером', CAST(N'2018-06-22 14:33:37.840' AS DateTime))
GO
INSERT [dbo].[Settings] ([Id], [Order], [Name], [Value], [Description], [UpdateDate]) VALUES (3, 2, N'ReferralPercent', N'10', N'Реферальные проценты 1го уровня', CAST(N'2018-06-22 14:33:37.840' AS DateTime))
GO
INSERT [dbo].[Settings] ([Id], [Order], [Name], [Value], [Description], [UpdateDate]) VALUES (7, 3, N'ReferralPercent2', N'5', N'Реферальный процент 2го уровня', CAST(N'2018-06-22 14:33:37.840' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[TenderRequest] ON 

GO
INSERT [dbo].[TenderRequest] ([Id], [Description], [ProviderId], [ProviderName], [Cost], [CustomerId], [DateStart], [DateCompleted], [DateDelivered], [DateWin], [TenderId]) VALUES (1, N'Zavtra viezhau', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'qqq', 301, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[TenderRequest] ([Id], [Description], [ProviderId], [ProviderName], [Cost], [CustomerId], [DateStart], [DateCompleted], [DateDelivered], [DateWin], [TenderId]) VALUES (2, N'заберу с адмиралтейской', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'qqq', 200, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[TenderRequest] ([Id], [Description], [ProviderId], [ProviderName], [Cost], [CustomerId], [DateStart], [DateCompleted], [DateDelivered], [DateWin], [TenderId]) VALUES (3, N'beru', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', N'qqq', 101, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[TenderRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Tenders] ON 

GO
INSERT [dbo].[Tenders] ([Id], [Name], [Description], [UserOwnerId], [Cost], [ImgUrls], [Status], [Created], [CurrencyId], [CategoryId]) VALUES (1, N'Some tender 1', N'some opisanie', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', 100, NULL, NULL, CAST(N'2020-11-04 01:34:11.877' AS DateTime), 0, 0)
GO
INSERT [dbo].[Tenders] ([Id], [Name], [Description], [UserOwnerId], [Cost], [ImgUrls], [Status], [Created], [CurrencyId], [CategoryId]) VALUES (2, N'tender 2', N'', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', 40, NULL, NULL, CAST(N'2020-11-04 02:14:10.650' AS DateTime), 0, 0)
GO
INSERT [dbo].[Tenders] ([Id], [Name], [Description], [UserOwnerId], [Cost], [ImgUrls], [Status], [Created], [CurrencyId], [CategoryId]) VALUES (3, N'ten 3', N'', N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', 222, NULL, NULL, CAST(N'2020-11-04 02:19:39.873' AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Tenders] OFF
GO
SET IDENTITY_INSERT [dbo].[TokensBuying] ON 

GO
INSERT [dbo].[TokensBuying] ([Id], [Count], [UserId], [CostOneToken], [FullCost], [WhenDate]) VALUES (1, 1000, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 0.1, 100, CAST(N'2019-10-28 05:07:41.827' AS DateTime))
GO
INSERT [dbo].[TokensBuying] ([Id], [Count], [UserId], [CostOneToken], [FullCost], [WhenDate]) VALUES (2, 1000, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 0.1, 100, CAST(N'2019-10-28 05:10:59.290' AS DateTime))
GO
INSERT [dbo].[TokensBuying] ([Id], [Count], [UserId], [CostOneToken], [FullCost], [WhenDate]) VALUES (3, 1000, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 0.1, 100, CAST(N'2019-10-28 05:11:02.113' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TokensBuying] OFF
GO
SET IDENTITY_INSERT [dbo].[TokensCost] ON 

GO
INSERT [dbo].[TokensCost] ([Id], [Value], [Date]) VALUES (1, 0.10007191, CAST(N'2020-01-19 01:00:01.667' AS DateTime))
GO
INSERT [dbo].[TokensCost] ([Id], [Value], [Date]) VALUES (2, 0.100143871710481, CAST(N'2020-01-20 01:00:01.667' AS DateTime))
GO
INSERT [dbo].[TokensCost] ([Id], [Value], [Date]) VALUES (3, 0.100215885168628, CAST(N'2020-01-21 01:00:01.667' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TokensCost] OFF
GO
SET IDENTITY_INSERT [dbo].[TokensSelling] ON 

GO
INSERT [dbo].[TokensSelling] ([Id], [Count], [UserId], [CostOneToken], [FullCost], [WhenDate]) VALUES (1, 10, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 0.1, 1, CAST(N'2019-10-28 05:11:50.973' AS DateTime))
GO
INSERT [dbo].[TokensSelling] ([Id], [Count], [UserId], [CostOneToken], [FullCost], [WhenDate]) VALUES (2, 1000, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 0.1, 100, CAST(N'2019-10-28 05:11:56.857' AS DateTime))
GO
INSERT [dbo].[TokensSelling] ([Id], [Count], [UserId], [CostOneToken], [FullCost], [WhenDate]) VALUES (3, 1000, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 0.1, 100, CAST(N'2019-10-28 05:12:04.343' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TokensSelling] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([Id], [ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate], [Pwd], [PublicId], [Communication], [ReffAdd], [LastGeoposition], [Language], [Sex], [Interests], [WorkPlace], [AboutUser], [BirthDay], [UniqueUserName], [SelectedCity]) VALUES (1, N'234ee901-21d6-4952-b871-b815b148fe46', N'd605cfec-b531-4b21-a58c-074b035402af', N'Yaexcluziv', 0, CAST(N'2020-07-26 23:50:40.643' AS DateTime), NULL, 797184, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate], [Pwd], [PublicId], [Communication], [ReffAdd], [LastGeoposition], [Language], [Sex], [Interests], [WorkPlace], [AboutUser], [BirthDay], [UniqueUserName], [SelectedCity]) VALUES (2, N'234ee901-21d6-4952-b871-b815b148fe46', N'b98b7ebc-4d5e-405b-88d8-087421c50b8e', N'hhh', 0, CAST(N'2019-06-01 16:02:48.657' AS DateTime), N'', 704037, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate], [Pwd], [PublicId], [Communication], [ReffAdd], [LastGeoposition], [Language], [Sex], [Interests], [WorkPlace], [AboutUser], [BirthDay], [UniqueUserName], [SelectedCity]) VALUES (56, N'234ee901-21d6-4952-b871-b815b148fe46', N'a08d3f83-1ac9-4b75-bfba-0c5a84e178c4', N'raspel', 0, CAST(N'2020-11-10 16:42:35.297' AS DateTime), NULL, 467388, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'@', N'')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', N'8b6f8834-7b96-43e1-9dec-16115fd48554')
GO
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', N'211ee111-19d6-4951-b87c-b215b542fe11')
GO
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', N'234ee951-11d6-2151-b87c-b815b542fe41')
GO
SET IDENTITY_INSERT [dbo].[UserViews] ON 

GO
INSERT [dbo].[UserViews] ([Id], [ObjectId], [Type], [UserId], [Date]) VALUES (1, 20041, 1, N'a55a7415-80e3-4dfd-93a1-3ea9d8d88329', CAST(N'2020-09-18 19:41:39.783' AS DateTime))
GO
INSERT [dbo].[UserViews] ([Id], [ObjectId], [Type], [UserId], [Date]) VALUES (2, 20041, 1, N'eb192af4-6fa7-4f34-ac02-5058cc5d424b', CAST(N'2020-10-08 23:19:40.247' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserViews] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

GO
INSERT [dbo].[Wallets] ([Id], [UserId], [CurrencyId], [Value], [CreateDate]) VALUES (1, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 1, 19805.082951233384, CAST(N'2018-12-13 18:25:08.420' AS DateTime))
GO
INSERT [dbo].[Wallets] ([Id], [UserId], [CurrencyId], [Value], [CreateDate]) VALUES (2, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 2, 515, CAST(N'2018-12-18 11:42:46.400' AS DateTime))
GO
INSERT [dbo].[Wallets] ([Id], [UserId], [CurrencyId], [Value], [CreateDate]) VALUES (3, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 3, 212, CAST(N'2018-12-18 11:43:00.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET IDENTITY_INSERT [dbo].[Watched] ON 

GO
INSERT [dbo].[Watched] ([Id], [UserId], [AdvertId], [Created]) VALUES (1, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 32, CAST(N'2020-01-15 20:09:33.500' AS DateTime))
GO
INSERT [dbo].[Watched] ([Id], [UserId], [AdvertId], [Created]) VALUES (2, N'5ff870c8-71e7-4738-b7c0-81a3162a3cb0', 30, CAST(N'2020-01-25 20:55:41.363' AS DateTime))
GO
INSERT [dbo].[Watched] ([Id], [UserId], [AdvertId], [Created]) VALUES (3, N'8b79ff6c-f4a8-452d-b5ac-756ddf0d6c59', 30, CAST(N'2020-01-28 04:40:41.597' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Watched] OFF
GO
SET IDENTITY_INSERT [dbo].[WatchedByCookies] ON 

GO
INSERT [dbo].[WatchedByCookies] ([Id], [UserCookiesId], [AdvertId], [Created]) VALUES (1, N'8cd18f88-a672-460b-95bd-2e65d90f0278', 32, CAST(N'2020-01-09 00:46:07.083' AS DateTime))
GO
INSERT [dbo].[WatchedByCookies] ([Id], [UserCookiesId], [AdvertId], [Created]) VALUES (2, N'ac7f424f-0fc5-4a88-aaef-d3c5218c165b', 32, CAST(N'2020-01-09 00:49:10.143' AS DateTime))
GO
INSERT [dbo].[WatchedByCookies] ([Id], [UserCookiesId], [AdvertId], [Created]) VALUES (3, N'ac7f424f-0fc5-4a88-aaef-d3c5218c165b', 31, CAST(N'2020-01-09 00:49:23.230' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[WatchedByCookies] OFF
GO
/****** Object:  Index [IX_Referrals]    Script Date: 10.11.2020 20:10:19 ******/
ALTER TABLE [dbo].[Referrals] ADD  CONSTRAINT [IX_Referrals] UNIQUE NONCLUSTERED 
(
	[ReferralUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF_Articles_WhenDate]  DEFAULT (getdate()) FOR [WhenDate]
GO
ALTER TABLE [dbo].[Auctions] ADD  CONSTRAINT [DF_Auctions_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Business] ADD  CONSTRAINT [DF_Business_NoCost]  DEFAULT ((0)) FOR [NoCost]
GO
ALTER TABLE [dbo].[DailyStatistics] ADD  CONSTRAINT [DF_DailyStatistics_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_CommunicationType]  DEFAULT ((1)) FOR [CommunicationType]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_Blocked]  DEFAULT ((0)) FOR [Blocked]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_LastActive]  DEFAULT (getdate()) FOR [LastActive]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_WhenHistoryChecked]  DEFAULT (getdate()) FOR [WhenHistoryChecked]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_BalanceUpdatePerMonth]  DEFAULT ((0)) FOR [BalanceUpdatePerMonth]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_BalanceUpdatePerMonthUpdateDate]  DEFAULT (getdate()) FOR [BalanceUpdatePerMonthUpdateDate]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_IdentificateStatus]  DEFAULT ((1)) FOR [IdentificateStatus]
GO
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [DF_Phones_Commision]  DEFAULT ((0)) FOR [Commision]
GO
ALTER TABLE [dbo].[Referrals] ADD  CONSTRAINT [DF_Refferals_WhenDate]  DEFAULT (getdate()) FOR [WhenDate]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[CashIns]  WITH CHECK ADD  CONSTRAINT [FK_CashIns_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CashIns] CHECK CONSTRAINT [FK_CashIns_Users]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipApplication]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipUser]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Users]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_NewsVark_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_NewsVark_Users]
GO
ALTER TABLE [dbo].[NewsVark]  WITH CHECK ADD  CONSTRAINT [FK_NewsVark_Users1] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[NewsVark] CHECK CONSTRAINT [FK_NewsVark_Users1]
GO
ALTER TABLE [dbo].[Referrals]  WITH CHECK ADD  CONSTRAINT [FK_Referrals_Users] FOREIGN KEY([ReferralUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Referrals] CHECK CONSTRAINT [FK_Referrals_Users]
GO
ALTER TABLE [dbo].[Referrals]  WITH CHECK ADD  CONSTRAINT [FK_Referrals_Users1] FOREIGN KEY([ReferrerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Referrals] CHECK CONSTRAINT [FK_Referrals_Users1]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [RoleApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [RoleApplication]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [UserApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [UserApplication]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_Users]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleRole]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleUser]
GO
ALTER TABLE [dbo].[UsersOpenAuthAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersOpenAuthAccounts_dbo.UsersOpenAuthData_ApplicationName_MembershipUserName] FOREIGN KEY([ApplicationName], [MembershipUserName])
REFERENCES [dbo].[UsersOpenAuthData] ([ApplicationName], [MembershipUserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersOpenAuthAccounts] CHECK CONSTRAINT [FK_dbo.UsersOpenAuthAccounts_dbo.UsersOpenAuthData_ApplicationName_MembershipUserName]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Cryptocurrencies] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currencies] ([Id])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Cryptocurrencies]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Users]
GO
ALTER TABLE [dbo].[Watched]  WITH CHECK ADD  CONSTRAINT [FK_Watched_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Watched] CHECK CONSTRAINT [FK_Watched_Users]
GO
/****** Object:  StoredProcedure [dbo].[spAddAdvert]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spAddAdvert]
@Category int, 
@Name nvarchar(50),
@Description nvarchar(4000),
@CreatedUserId uniqueidentifier,
@Price float,
@Address nvarchar(150),
@Phone nvarchar(50),
@MessageType int,
@Position geography,
@ImgUrls nvarchar(max),
@YouTubeUrl nvarchar(max)
AS
BEGIN
    INSERT INTO Adverts ([Category]
					   ,[Name]
					   ,[Description]
					   ,[CreatedUserId]
					   ,[Price]
					   ,[Address]
					   ,[Phone]
					   ,[MessageType]
					   ,[Position]
					   ,[ImgUrls]
					   ,[YouTubeUrl]
					   )
    VALUES (@Category, 
	@Name,
	@Description,
	@CreatedUserId,
	@Price,
	@Address,
	@Phone,
	@MessageType,
	@Position,
	@ImgUrls,
	@YouTubeUrl)
END

GO
/****** Object:  StoredProcedure [dbo].[spAddFavorites]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spAddFavorites]
@UserId uniqueidentifier, @advertId bigint
AS
BEGIN
   IF NOT EXISTS (SELECT * FROM Favorites 
                   WHERE UserId = @UserId
                   AND AdvertId = @advertId)
   BEGIN
       INSERT INTO Favorites (UserId, AdvertId)
       VALUES (@UserId, @advertId)
   END
END

GO
/****** Object:  StoredProcedure [dbo].[spAddFavoritesByCookies]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spAddFavoritesByCookies]
@uid nvarchar(36), @advertId bigint
AS
BEGIN
   IF NOT EXISTS (SELECT * FROM FavoritesByCookies 
                   WHERE UserCookiesId = @uid
                   AND AdvertId = @advertId)
   BEGIN
       INSERT INTO FavoritesByCookies (UserCookiesId, AdvertId)
       VALUES (@uid, @advertId)
   END
END

GO
/****** Object:  StoredProcedure [dbo].[spAddWatched]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spAddWatched]
@UserId uniqueidentifier, @advertId bigint
AS
BEGIN
    INSERT INTO Watched (UserId, AdvertId)
    VALUES (@UserId, @advertId)
END

GO
/****** Object:  StoredProcedure [dbo].[spAddWatchedByCookies]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spAddWatchedByCookies]
@uid nvarchar(36), @advertId bigint
AS
BEGIN
    INSERT INTO WatchedByCookies (UserCookiesId, AdvertId)
    VALUES (@uid, @advertId)
END

GO
/****** Object:  StoredProcedure [dbo].[spGetChats]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetChats]
(@userId uniqueidentifier)
AS
BEGIN


SELECT chats.Id
	, (CASE WHEN chats.ChatType = 1 THEN ( 
	
	SELECT users.UserName FROM [dbo].ChatUsers AS chatUsers 
	LEFT JOIN [dbo].Users AS users 
	ON (users.UserId = chatUsers.UserId) 
	WHERE chatUsers.UserId != @userId AND chatUsers.ChatId = chats.Id
	
	) ELSE chats.ChatName END ) AS ChatName


FROM [dbo].[Chats] AS chats
LEFT JOIN [dbo].ChatUsers AS chatUsers ON (chatUsers.ChatId = chats.Id) WHERE chatUsers.UserId = @userId

END


GO
/****** Object:  StoredProcedure [dbo].[spGetChatsForUser]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetChatsForUser]
(@userId uniqueidentifier)
AS
BEGIN


SELECT chats.Id
	, (CASE WHEN chats.ChatType = 1 THEN ( 
	
	SELECT users.UserName FROM [dbo].ChatUsers AS chatUsers 
	LEFT JOIN [dbo].Users AS users 
	ON (users.UserId = chatUsers.UserId) 
	WHERE chatUsers.UserId != @userId AND chatUsers.ChatId = chats.Id
	
	) ELSE chats.ChatName END ) AS ChatName


FROM [dbo].[Chats] AS chats
LEFT JOIN [dbo].ChatUsers AS chatUsers ON (chatUsers.ChatId = chats.Id) WHERE chatUsers.UserId = @userId

END


GO
/****** Object:  StoredProcedure [dbo].[spGetComments]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetComments]
@objectId bigint, @userId uniqueidentifier
AS
BEGIN
	SELECT [Id]
      ,[UserId]
      ,[AdvertId]
      ,[Comment]
      ,[Date]
      ,[Likes]
      ,[DisLikes]
      ,[Type]
  FROM [Comments]
	where [UserId] = @userId
	ORDER BY [Date] ASC
END

GO
/****** Object:  StoredProcedure [dbo].[spGetCommentsForUser]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetCommentsForUser]
(@userId uniqueidentifier, @advertId int)
AS
BEGIN


	SELECT cmnts.[Id]
      ,[cmnts].[UserId]
      ,cmnts.[AdvertId]
      ,cmnts.[Comment]
      ,cmnts.[Date]
	  ,[usrs].[UserName]
	  ,(SELECT COUNT(*) FROM [dbo].[Likes] AS lks WHERE lks.CommentId = cmnts.Id) AS LikesCount
	  ,(SELECT COUNT(*) FROM [dbo].[DisLikes] AS dlks WHERE dlks.CommentId = cmnts.Id) AS DisLikesCount

	  ,CONVERT(BIT, (CASE when  EXISTS (SELECT * FROM [dbo].[DisLikes] 
	  WHERE CommentId = Id AND UserId = @userId) then 1 ELSE 0 END) ) AS HaveDisLiked

	  ,CONVERT(BIT, (CASE when  EXISTS (SELECT * FROM [dbo].[Likes] 
	  WHERE CommentId = Id AND UserId = @userId) then 1 ELSE 0 END) ) AS HaveLiked

      ,cmnts.[Type]
  FROM [Comments] AS cmnts
  JOIN [Users] AS usrs 
  ON(cmnts.UserId = usrs.UserId)
	WHERE [AdvertId] = @advertId
	ORDER BY [Date] ASC
END

GRANT EXECUTE
    ON OBJECT::[dbo].[spGetCommentsForUser] TO PUBLIC
    AS [dbo];

GO
/****** Object:  StoredProcedure [dbo].[spGetComplaintsByRecipier]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetComplaintsByRecipier]
(@userId uniqueidentifier)
AS
BEGIN


SELECT cpts.[Id]
      ,[Message]
      ,[СomplaintType]
      ,[ObjectId]
      ,[ObjectType]
      ,[UserSender]
      ,[UserRecipier]
      ,[Data]
	  ,usrs.UserName AS UserRecipierName
	  , (SELECT FIRST_VALUE(UserName) OVER(ORDER BY Id) FROM [dbo].[Users] WHERE UserId = UserSender) AS UserSenderName
  FROM [dbo].[Complaints] as cpts 
  LEFT JOIN [dbo].[Users] as usrs ON( cpts.UserRecipier = usrs.UserId) WHERE cpts.UserRecipier = @userId 

END


GO
/****** Object:  StoredProcedure [dbo].[spGetComplaintsBySender]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetComplaintsBySender]
(@userId uniqueidentifier)
AS
BEGIN


SELECT cpts.[Id]
      ,[Message]
      ,[СomplaintType]
      ,[ObjectId]
      ,[ObjectType]
      ,[UserSender]
      ,[UserRecipier]
      ,[Data]
	  ,usrs.UserName AS UserSenderName
	  , (SELECT FIRST_VALUE(UserName) OVER(ORDER BY Id) FROM [dbo].[Users] WHERE UserId = UserRecipier) AS UserRecipierName
  FROM [dbo].[Complaints] as cpts 
  LEFT JOIN [dbo].[Users] as usrs ON( cpts.UserSender = usrs.UserId) WHERE cpts.UserSender = @userId 

END


GO
/****** Object:  StoredProcedure [dbo].[spGetFavorites]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetFavorites]
@userId uniqueidentifier
AS
BEGIN
	SELECT f.[Id]
      ,f.[AdvertId]
      ,f.[Created] CreatedFavorites
	  ,a.[Category]
	  ,a.[Name]
      ,a.[Description]
      ,a.[Created] CreatedAdverts
      ,a.[CreatedUserId]
      ,a.[Price]
      ,a.[Address]
      ,a.[Phone]
      ,a.[MessageType]
	  ,a.[ImgUrls]
      ,cast(a.[Position] as varchar(max)) PositionString
	FROM [dbo].[Favorites] f
	LEFT JOIN [Adverts] a
	on f.[AdvertId] = a.[Id]
	where f.[UserId] = @userId
	ORDER BY CreatedFavorites DESC
END

GO
/****** Object:  StoredProcedure [dbo].[spGetFavoritesByCookies]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetFavoritesByCookies]
@uid nvarchar(50)
AS
BEGIN
	SELECT f.[Id]
      ,f.[AdvertId]
      ,f.[Created] CreatedFavorites
	  ,a.[Category]
	  ,a.[Name]
      ,a.[Description]
      ,a.[Created] CreatedAdverts
      ,a.[CreatedUserId]
      ,a.[Price]
      ,a.[Address]
      ,a.[Phone]
      ,a.[MessageType]
	  ,a.[ImgUrls]
      ,cast(a.[Position] as varchar(max)) PositionString
	FROM [dbo].[FavoritesByCookies] f
	LEFT JOIN [Adverts] a
	on f.[AdvertId] = a.[Id]
	where f.[UserCookiesId] = @uid
	ORDER BY CreatedFavorites DESC
END

GO
/****** Object:  StoredProcedure [dbo].[spGetLast200TokensOperations]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetLast200TokensOperations]
AS
BEGIN
	SELECT TOP 200 a.* FROM
    (
    SELECT TOP (1000) 
    [Count]
          ,[UserId]
          ,[CostOneToken]
          ,[FullCost]
          ,[WhenDate]
		  ,1 as [OperationEvent]
      FROM [TokensBuying]
      Union
      SELECT TOP (1000) 
      [Count]
          ,[UserId]
          ,[CostOneToken]
          ,[FullCost]
          ,[WhenDate]
		  ,0 as [OperationEvent]
      FROM [TokensSelling]
      Order by [WhenDate]
      ) AS a
    ORDER BY [WhenDate] desc
END

GO
/****** Object:  StoredProcedure [dbo].[spGetLoginStatisticLastDayActive]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetLoginStatisticLastDayActive]
AS
BEGIN
	DECLARE @Result int;
    SET @Result =
	(SELECT Count(distinct [UserName])
	FROM [LoginStatistics]
	where [WhenLastDate] > DATEADD(DAY, -1, GETDATE()) 
	 );
     RETURN(@Result);
END



GO
/****** Object:  StoredProcedure [dbo].[spGetLoginStatisticLastHourActive]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetLoginStatisticLastHourActive]
AS
BEGIN
	DECLARE @Result int;
    SET @Result =
	(SELECT Count(distinct [UserName])
	FROM [LoginStatistics]
	where [WhenLastDate] > DATEADD(HOUR, -1, GETDATE()) 
	 );
     RETURN(@Result);
END



GO
/****** Object:  StoredProcedure [dbo].[spGetTokenCostToday]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetTokenCostToday]
AS
BEGIN
	SELECT [Id]
      ,[Value]
      ,[Date]
  FROM [Rentoolo].[dbo].[TokensCost]
  WHERE CONVERT(date, [Date]) = CONVERT(date, getdate())
END

GO
/****** Object:  StoredProcedure [dbo].[spGetUserAdverts]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetUserAdverts]
@UserId uniqueidentifier
AS
BEGIN
	SELECT a.[Id]
      ,a.[Category]
      ,a.[Name]
      ,a.[Description]
      ,a.[Created]
      ,a.[CreatedUserId]
      ,a.[Price]
      ,a.[Address]
      ,a.[Phone]
      ,a.[MessageType]
      ,a.[Position]
	  ,a.[ImgUrls]
	FROM [Adverts] a
	WHERE a.[CreatedUserId] = @UserId
	ORDER BY a.[Created] DESC
END

GO
/****** Object:  StoredProcedure [dbo].[spGetWatched]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetWatched]
@userId uniqueidentifier
AS
BEGIN
	SELECT w.[Id]
      ,w.[AdvertId]
      ,w.[Created] CreatedFavorites
	  ,a.[Category]
	  ,a.[Name]
      ,a.[Description]
      ,a.[Created] CreatedAdverts
      ,a.[CreatedUserId]
      ,a.[Price]
      ,a.[Address]
      ,a.[Phone]
      ,a.[MessageType]
	  ,a.[ImgUrls]
      ,cast(a.[Position] as varchar(max)) PositionString
	FROM [dbo].[Watched] w
	LEFT JOIN [Adverts] a
	on w.[AdvertId] = a.[Id]
	where w.[UserId] = @userId
	ORDER BY CreatedFavorites DESC
END

GO
/****** Object:  StoredProcedure [dbo].[spGetWatchedByCookies]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spGetWatchedByCookies]
@uid nvarchar(50)
AS
BEGIN
	SELECT w.[Id]
      ,w.[AdvertId]
      ,w.[Created] CreatedFavorites
	  ,a.[Category]
	  ,a.[Name]
      ,a.[Description]
      ,a.[Created] CreatedAdverts
      ,a.[CreatedUserId]
      ,a.[Price]
      ,a.[Address]
      ,a.[Phone]
      ,a.[MessageType]
	  ,a.[ImgUrls]
      ,cast(a.[Position] as varchar(max)) PositionString
	FROM [dbo].[WatchedByCookies] w
	LEFT JOIN [Adverts] a
	on w.[AdvertId] = a.[Id]
	where w.[UserCookiesId] = @uid
	ORDER BY CreatedFavorites DESC
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateQiwiAccountBalance]    Script Date: 10.11.2020 20:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spUpdateQiwiAccountBalance]
@number nvarchar(50), @balance float
AS
BEGIN

	UPDATE Phones
	SET Balance = @balance
	WHERE Number = @number;

END

GO
